:root {
    --lettercolor: #FFFFFF;
    --Oswaldfont: 'Oswald';
    --SansProfont: 'Source Sans Pro';
    --articlecolor: rgba(0, 0, 0, 1);
    --addresscolor: rgba(255, 255, 255, 0.4);
    --ArticleSecendColor: rgba(102, 102, 102, 1);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 1200px;
}
.background-1 {
    background-image: url(../assets/background1.png);
    height: 800px;
}

.background-1-h1 {
    font-size: 48px;
    text-align: center;
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
}
.background-1-h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--SansProfont);
    font-weight: 400;
}
section {
    background: #EEEEEE;
    height: 700px;
}
.main-h2 {
    text-align: center;
    font-family: var(--Oswaldfont);
    font-size: 48px;
    color:rgba(70, 69, 71, 1);
    padding-top: 65px;
}
.main-h3 {
    text-align: center;
    font-family: var(--SansProfont);
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin-top: 25px;
}
.article1 {
    color: var(--ArticleSecendColor);
    font-family: var(--SansProfont);
    line-height: 22px;
}
.article2 {
    color: var(--ArticleSecendColor);
    font-family: var(--SansProfont);
    line-height: 22px;
}
.button-container {
    text-align: center;
    margin-top: 35px;
}
.rd-button {
    width: 115px;
    height: 36px;
    background-color:#55C2D8;
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    border-radius: 18px;
    border: 0px;
    cursor: pointer;
    transition: all 1s linear;
    transform-origin: left bottom;
}

.rd-button:hover {
    transform: rotateZ(10deg);
}

.background-2 {
    height: 666px;
    background-image: url(../assets/background2.png);
}
.background-2-h2 {
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    padding-top: 80px;
}
.symbol-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #39C2D7;
    border-radius: 50%;
    margin: 35px auto;
    transition: all 0.5s ease;
    color: var(--lettercolor);
    font-size: 60px;
    transition: all 0.5s ease;
}

.symbol-container:hover{
    background-color: white;
    color: #39C2D7;
    transform: scale(0.9);
}

.background-2-h3 {
    color: var(--lettercolor);
    font-family: var(--SansProfont);
    text-align: center;
    font-weight: normal;
    margin-top: 70px;
    line-height: 32px;
    font-size: 24px;
}
footer {
    background: #464547;
    height: 170px;
}
.footer-p1 {
    letter-spacing: 0.2em;
    color: var(--lettercolor);
    font-family: var(--SansProfont);
    margin-left: 16px;
    font-size: 18px;
}
.footer-address {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    font-style: normal;
    grid-column-start: 3;
    grid-row-start: 1;
}
.footer-email {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    text-decoration: none;
    grid-column-start: 3;
    grid-row-start: 2;
}
.footer-p2 {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    grid-column: 6 / 8;
    grid-row-start: 2;
}
.grid-container {
    width: 920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 83px;
    margin: 30px auto 0;
}
.grid-footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 170px;
    padding: 40px 30px 0 155px;
}

.flex-logo {
    display: flex;
    grid-column-start: 1;
   }

.flex-logo-bg {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 180px 0;
}
.bg-logo {
    width: 63px;
    height: 63px;
    transition: all 0.5s ease;
    z-index: 1;
}

.bg-logo:hover {
    transform: rotateY(180deg) scale(1.3);
}

.move-ball-img {
    position: absolute;
    margin: 8px 0 0 427px;
    animation: move-ball 3s ease infinite alternate-reverse;
}

@keyframes move-ball {
    100% { 
        transform: translateY(-15px) translateX(-30px);
    }
}

.animation-img {
    position: absolute;
    margin: 8px 0 0 433px;
    animation: animation 3s ease infinite alternate-reverse;
}   

@keyframes animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}